.descripcion {
  background-color: #f0f0f0;
  padding: 10px;
  display: none;
}

img {
  margin-left: 35%;
  margin-top: 5%;
  cursor: pointer;
}

#descripcion {
  font-size: 40px;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 27%;
}
